/*
*   Basic styles for blocks intended for use in every project
*/

/* ограничивающий контейнер для всей страницы 
    нужен для организации вертикальных отношений между основными блоками
*/
.rmbt-page-wrap {
  max-width: @width_main-wrapper;
  min-height: 100vh;
  margin: 0px auto;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  row-gap: @margin_bottom_section;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: @margin_bottom_section;
}

/*центрующий контейнер контентной ширины*/
.rmbt-container {
  .wrapper();
}

/*центрующий контейнер фоновой ширины*/
.rmbt-full-width {
  max-width: @width_main-wrapper;
  .wrapper-full();
  margin: 0 auto;
}

.debug-grid {
  z-index: 100;
  pointer-events: none;
  .debug(#b2bdfa1a, 1px rgba(6, 235, 197, 0.5) solid);
}

.wrap-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  img,
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.wrap-img-a {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    height: auto; // тестировать
    object-fit: contain;
    object-position: center;
  }
}

.rmbt-close-window {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;

  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    left: 0px;
    top: 50%;
  }

  &:after {
    transform: rotate(45deg);
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5s ease-out;
  }
}

body.rmbt-lock {
  overflow: hidden;
}

.simple-block {
  box-sizing: border-box;
  background-color: @color_blocks_background;
  border: 1px solid @color_blocks_border;
  border-radius: @blocks_border_radius;
  padding: 32px;
  row-gap: 20px;
  color: @color_text;
}

.error-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  min-width: 80%;
  max-width: @_width_container;
  min-height: 30%;
  padding: 20px 20px 20px 20px;

  background-color: @color_blocks_background_error;
  color: @color_text_error;
  border-radius: @blocks_border_radius;
  border: 1px solid @color_blocks_border_error;

  font-size: 14px !important;
  color: @color_text_error !important;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  display: none;

  p {
    text-align: left;
    margin: 5px 0px 5px 0px;
  }
}

.font-title {
  color: #fff;
  font-size: 22px;
  font-family: MontserratAlternates;
  font-weight: 800;
  color: #fff;
  text-align: center;
  letter-spacing: 0.2em;
}

.font-text {
  color: @color_text;
  font-size: 18px;

  font-family: 'RobotoFlex';
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
