@_width_min_viewport: 320; // ширина экрана наименьшего поддерживаемого устройства
@_width_main-wrapper: 1970; // ширина ограничивающего (самого наружного) контейнера
@_width_container: 1440; // ширина центрующего контейнера. Задать это значение так же и в grid_config.js container.maxWidth



// переменные для использования в стилях
@width_main-wrapper: ~"@{_width_main-wrapper}px"; // ширина ограничивающего (самого наружного) контейнера
@width_container: ~"@{_width_container}px"; // ширина центрующего  контейнера  


@color_font_dark: #000;
@color_font_light: #ffffff;
@color_background_pages: #ffffff;
@color_footer_text: #878c9b;
@color_footer_background: #1B1F2D;
@color_logo_background: #f60;
@color_logo_text: #006635;


@margin_bottom_section: 60px; // между основными секциями страницы
@row_gap_between_cards: 30px; //
@col_gap_between_cards: 30px; //