.work-area-wrapper-section {
}
.work-area-full-width {
}
.work-area {
  min-height: 55vh;

  &__row {
  }
  h1 {
    color: @color_text;
    margin-bottom: 10px;
  }
  .user-status {
    .size(8);
    text-align: center;
    margin: 0 auto 50px auto;

    span {
      font-weight: 600;
    }
  }
  &__col {
    table {
      margin: 0 auto;
      td,
      th {
        text-align: center;
        padding: 10px 20px 10px 20px;
        border: 1px solid @color_blocks_border_lite;
      }

      tr {
      }
    }
  }
}
