{
   "presets": [
      [
         "@babel/preset-env",
         {
            "targets": "> 2%"
         }
      ]
   ],
   "plugins": [
      [
         "babel-plugin-transform-import-meta",
         {
            "module": "ES6"
         }
      ]
   ]
}